body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.logo {
    height: 100px;
    width: 100px;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: #99C4CC;
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    color: #27646E;
}

.txt {
    font-size: 23px;
    font-weight: bold;
    color: #27646E;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #99C4CC;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background-color: #000;
    color: white;
}

.mail {
    background-color: red;
    color: white;
}

.web {
    background-color: #27646E;
    color: white;
}